.book {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    }
    img{
        width: 114px;
        height: 162px;
    }


.title{
    font: Montserrat,;
    font-style:normal;
    font-size:12px;
    font-weight: 600;
    color: #333333;
}
.author{
    font: Montserrat,;
    font-style:normal;
    font-size:12px;
    font-weight: 600;
    color: #A0A0A0;
}

.status{
    font: Montserrat,;
    font-style:normal;
    font-size:12px;
    font-weight: 600;
    color: #5E56E7;
}

.navBtn{
    font: Montserrat,;
    font-style:normal;
    font-size:12px;
    font-weight: 600;
    color: #5E56E7;
}